<div class="container  mt-5 pt-3 pb-3">
  <div *ngFor="let pedido of pedidos">
    <div class="row">
      <div class="col-12">
        <div *ngIf="pedido?.clientes?.length === 0" class="alert alert-dark text-center">
          <span>
            <h5>Nenhuma entrega cadastrada.</h5>
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-end pb-5">
      <div class="col-12 col-md-2 col-xl-2 mb-3">
        <button id="btnVoltar" type="submit" (click)="recarregar()" class="btn btn-dark btn-block">Atualizar</button>
      </div>
      <div class="col-12 col-md-2 col-xl-2">
        <select class="form-control" id="ordenacao" #ordenacao (change)='ordenacaoSelecionada(ordenacao.value)'>
          <option value="">Ordenar por: </option>
          <option value="opcaoCarpadio">Cardápio</option>
          <option value="endereco">Endereço</option>
          <option value="nomeCliente">Nome</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-xl-12">
        Olá, <br>
        <b>{{usuarioLogado.nome}}</b> <br>
        Segue sua lista de entregas
      </div>
    </div>
    <hr>
    <div class="my-3 p-3 bg-white rounded box-shadow" *ngFor="let cliente of ordenarCardapioSelecionado(pedido.clientes);">
      <h6 class="border-bottom border-gray pb-2 mb-0">{{cliente.nomeCliente}}</h6>
      <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <dl>
          <dt>Pacote</dt>
          <dd>
            <span *ngFor="let complemento of cliente.complementos">
                <b>{{complemento.quantidade}}</b>
                <b>- {{complemento.descricao}} </b>
                <b *ngFor="let item of complemento.itens">
                  - {{item.descricao}}
                </b>
            </span>
          </dd>
          <dt *ngIf="cliente.opcaoCarpadio != null"class="text-danger"><b>Opção de cardápio</b></dt>
          <dd *ngIf="cliente.opcaoCarpadio != null" class="text-danger"><b>{{cliente.opcaoCarpadio}}.</b></dd>
          <dt *ngIf="cliente.observacaoPedido != null" class="text-danger"><b>Observações do cardápio</b></dt>
          <dd *ngIf="cliente.observacaoPedido != null" class="text-danger"><b>{{cliente.observacaoPedido}}</b></dd>
          <dt *ngIf="cliente.descricaoRefeicaoAdicional != null">Adicional</dt>
          <dd *ngIf="cliente.descricaoRefeicaoAdicional != null">Salada: {{cliente.descricaoRefeicaoAdicional}}</dd>
          <dt>Contato do cliente</dt>
          <dd>{{cliente.telefone | mask: '(00) 00000-0000'}}</dd>
          <dt>Endereço</dt>
          <dd>{{cliente.endereco}}</dd>
          <br *ngIf="cliente.lgPrimeiroPedido">
          <dt *ngIf="cliente.lgPrimeiroPedido">Receber</dt>
          <dd *ngIf="cliente.lgPrimeiroPedido">
            Valor à receber:
            {{cliente.valorPagamento | currency:'BRL'}} - Tipo: {{cliente.tipoPacote}} - Forma de
            Pagamento: {{cliente.formaPagamento}}</dd>
        </dl>
        </div>
      </div>
    </div>
  </div>
</div>
