<div class="container mt-5 pt-5 pb-3">
  <div class="row justify-content-md-center">
    <div class="col col-xl-6 col-lg-6 col-md-12">
      <br />
      <div class="text-center">
        <img src="assets/img/logo.png" class="img-responsive text-center logo-max" alt="Responsive image">
      </div>
      <br>
      <h5 class="text-center">Pedido enviado com sucesso</h5>
      <br>
      <h6 class="text-center">
        Caro Cliente, para saber mais sobre os dados de compra basta seguir as instruções abaixo:
      </h6>

      <p class="text-center">Para mais informações clique em <b><span class="fa fa-bars"></span></b>, <b>pedido.</b></p>
      <div class="text-center">
        <button id="btnConfirmarEsqueceu"  [routerLink]="['/home/loja']" class="btn btn-dark btn-block" type="submit">
          Voltar para loja
        </button>
      </div>
    </div>
  </div>
</div>
