<div class="container mt-2 pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-6">
      <img class="img-thumbnail img-fluid border-0" src="././././assets/img/logo.png"
        alt="">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-xl-3 col-sm-6 py-2">
      <div class="card bg-secondary text-white h-100">
        <div class="card-body bg-secondary">
          <div class="rotate">
            <i class="fa fa-user fa-4x"></i>
          </div>
          <h6 class="text-uppercase">Clientes com pacotes</h6>
          <h1 class="display-4">{{dashboardPrincipal.clientesAtivosEmPacote}}</h1>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2">
      <div class="card text-white bg-success h-100">
        <div class="card-body bg-success">
          <div class="rotate">
            <i class="fa fa-list fa-4x"></i>
          </div>
          <h6 class="text-uppercase">Pedidos Confirmados</h6>
          <h1 class="display-4">{{dashboardPrincipal.pedidosConfirmados}}</h1>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2">
      <div class="card text-white bg-danger h-100">
        <div class="card-body bg-danger">
          <div class="rotate">
            <i class="fa fa-lock fa-4x"></i>
          </div>
          <h6 class="text-uppercase">Pacotes Suspensos</h6>
          <h1 class="display-4">{{dashboardPrincipal.clientesPacotesSuspenso}}</h1>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2">
      <div class="card text-white bg-warning h-100">
        <div class="card-body">
          <div class="rotate">
            <i class="fa fa-share fa-4x"></i>
          </div>
          <h6 class="text-uppercase">Clientes Avulsos</h6>
          <h1 class="display-4">{{dashboardPrincipal.clientesAvulsos}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 text-center">
      <small>Versão: {{versao}}</small>
    </div>
  </div>
</div>
