<app-login-titulo botaoVoltar="True">
</app-login-titulo>
<div class="container mt-5 pt-5 pb-3">
  <div class="col align-self-center text-center">
    <br />
    <div class="text-center">
      <img src="assets/img/logo.png" class="img-responsive text-center logo-max" alt="Responsive image">
    </div>
    <h6 class="card-text">Seu cadastro foi realizado com sucesso.</h6>
    <!-- <br><h1 class="text-danger">confirme seu email</h1>,<br>
    <h6>para finalizar seu cadastro</h6> -->
    <div class="text-center text-uppercase font-weight-bold">
      <button id="btnConfirmarEsqueceu" [routerLink]="['/login']" class="btn btn-dark btn-block" type="submit">
        Realizar Login
      </button>
    </div>
  </div>
</div>
