<div class="form-row">
  <div class="form-group col-md-12 text-center">
    <h4 class="mb-1">Cupons de desconto</h4>
  </div>
</div>
<hr />
<div *ngIf="visualizarListagem">
  <div *ngIf="cuponsDeDesconto">
    <div class="shadow-lg p-3 mb-3 bg-white rounded"
      *ngFor="let item of cuponsDeDesconto | paginate: { id:'CupomDeDesconto', itemsPerPage: 5, currentPage: cupomDeDescontoContador }">
      <div class="row">
        <div class="col-md-10">
          <span class="h6">
            <strong>{{item.codigo}}</strong>
          </span>
          <span class="d-block">
            <span class="badge rounded-pill bg-secondary text-white">Valor:
              {{item.valor | currency:'BRL'}}</span> &nbsp;
            <span class="badge rounded-pill bg-secondary text-white">Ativa: {{item.lgAtivo ? "Sim" : "Não"}}</span>
          </span>
        </div>
        <div class="col-md-2 text-right">
          <a href="javascript:void(0)" (click)="editar(item)">
            Editar
          </a>
        </div>
      </div>
    </div>
    <div class="text-center">
      <pagination-controls *ngIf="cuponsDeDesconto.length > 5" id="formaDePagamento" previousLabel="Anterior"
        nextLabel="Próximo" (pageChange)="cupomDeDescontoContador = $event">
      </pagination-controls>
    </div>
    <hr>
    <div class="form-row justify-content-end pb-5">
      <div class="col-6 col-md-2 col-xl-2">
        <button class="btn btn-dark btn-block" type="submit" id="btnFormaDePagamento" (click)="novoCupomDeDesconto()">
          Novo
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!visualizarListagem">
<app-admin-configuracao-cupom-desconto-cadastro
  [cupomDeDesconto]="cupomDeDesconto"
  (visualizarListagemEmit) = "visualizarListagemEmit()">
</app-admin-configuracao-cupom-desconto-cadastro>
</div>
