@media (min-width: 992px) {
  .resumo-cima {
    display: block!important;
  }
}

.resumo-cima {
  display: none;
}


@media (max-width: 991px) {
  .resumo-baixo {
    display: block!important;
  }
}

.resumo-baixo {
  display: none;
}
