<div class="calendar w-100">
  <div class="d-flex justify-content-between p-2 border-calendar align-items-center border-bottom-0 text-black"><span
      class="btn undefined">&lt;</span><span class="text-uppercase">junho - 2019</span><span
      class="btn undefined">&gt;</span></div>
  <div class="font-weight-bold d-flex border-calendar bold w-100 border-top-0  text-black">
    <div class="d-flex border-calendar flex-fill w-100 justify-content-center p-2">Dom</div>
    <div class="d-flex border-calendar flex-fill w-100 justify-content-center p-2">Seg</div>
    <div class="d-flex border-calendar flex-fill w-100 justify-content-center p-2">Ter</div>
    <div class="d-flex border-calendar flex-fill w-100 justify-content-center p-2">Qua</div>
    <div class="d-flex border-calendar flex-fill w-100 justify-content-center p-2">Qui</div>
    <div class="d-flex border-calendar flex-fill w-100 justify-content-center p-2">Sex</div>
    <div class="d-flex border-calendar flex-fill w-100 justify-content-center p-2">Sab</div>
  </div>
  <div class="w-100 body-calendar">
    <div class="d-flex border-calendar w-100 border-top-0">
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-disabled"
        data-date="2019-06-01">1</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-primary"
        data-date="2019-06-02">2</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-success"
        data-date="2019-06-03">3</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-danger"
        data-date="2019-06-04">4</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-warning"
        data-date="2019-06-05">5</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-dark"
        data-date="2019-06-06">6</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-disabled"
        data-date="2019-06-07">7</div>
    </div>
    <div class="d-flex border-calendar w-100 border-top-0">
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-disabled"
        data-date="2019-06-08">8</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-09">9</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-10">10</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-11">11</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-12">12</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-13">13</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-disabled"
        data-date="2019-06-14">14</div>
    </div>
    <div class="d-flex border-calendar w-100 border-top-0">
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-disabled"
        data-date="2019-06-15">15</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-16">16</div>
      <div
        class="current-date-selected d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-17">17</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-18">18</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-19">19</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-20">20</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-disabled"
        data-date="2019-06-21">21</div>
    </div>
    <div class="d-flex border-calendar w-100 border-top-0">
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-disabled"
        data-date="2019-06-22">22</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-23">23</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-24">24</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-25">25</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-26">26</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-27">27</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-disabled"
        data-date="2019-06-28">28</div>
    </div>
    <div class="d-flex border-calendar w-100 border-top-0">
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 btn-calendar-disabled"
        data-date="2019-06-29">29</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        data-date="2019-06-30">30</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        style="color:transparent">0</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        style="color:transparent">0</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        style="color:transparent">0</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        style="color:transparent">0</div>
      <div class="d-flex border-calendar flex-fill w-100 justify-content-center pt-3 pb-3 bgn-calendar"
        style="color:transparent">0</div>
    </div>
  </div>
</div>