<div class="container mt-5 pt-5 pb-3">
  <div class="row justify-content-md-center">
    <div class="col col-xl-6 col-lg-6 col-md-12">
      <div class="form-row justify-content-md-center text-center card shadow-lg p-3 mb-5 bg-white rounded d-flex">
        <div id="dvLogo">
          <img src="././././assets/img/logo.png" class="img-responsive text-center logo-max" alt="Responsive image">
        </div>
        <div class="col">
          <p>
          <p><b> Az FitnessFood </b>
          <p>
          <p>
          <p>
            Av. Calógeras, 264 - Centro<br />
            Campo Grande, MS, CEP 79004-380, Brasil.<br />
            CNPJ: 09.479.048/0001-07.<br />
            Refeições saudáveis.<br />
          </p>
          <p><b><a href="https://www.instagram.com/azfitnessfood/?hl=pt-br" target="_blank"> <i
                  class="fa fa-instagram fa-fw text-info"></i>@azfitnessfood</a></b></p>
          <p><b><a href="https://www.facebook.com/Azfitnessfood" target="_blank"> <i
                  class="fa fa-facebook-square fa-fw text-primary"></i>@azfitnessfood</a></b></p>
          <p><b><a href="https://wa.me/5567992316858" target="_blank"> <i
                  class="fa fa-whatsapp fa-fw text-success"></i>67 99231-6858</a></b></p>
        </div>
      </div>
    </div>
  </div>
</div>
