<div class="container mt-5 pt-5">
  <div class="row justify-content-md-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 pb-4">
      <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block"><i class="fa fa-lock"></i> Não Autorizado</span>
                    <hr>
                    <p class="text-muted m-t-30 m-b-30">Desculpe mas você não tem acesso a esta pagina.</p>
                    <br/>
                    <a href="./" class="btn-rounded waves-effect waves-light m-b-40">Voltar para inicio</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

