<div class="container-fluid mt-5 pt-3 pb-5 ">
  <div class="card shadow-lg mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <app-admin-dashboard-faturamento></app-admin-dashboard-faturamento>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <app-admin-dashboard-inicio-termino-contratacao></app-admin-dashboard-inicio-termino-contratacao>
        </div>
        <div class="col-lg-4">
          <app-admin-dashboard-dieta></app-admin-dashboard-dieta>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <app-admin-dashboard-suspenso-antecipado></app-admin-dashboard-suspenso-antecipado>
        </div>
        <div class="col-lg-4">
          <app-admin-dashboard-peso></app-admin-dashboard-peso>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <app-admin-dashboard-pagamento-aberto></app-admin-dashboard-pagamento-aberto>
        </div>
        <div class="col-lg-4">
          <app-admin-dashboard-endereco-alterado></app-admin-dashboard-endereco-alterado>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <app-admin-dashboard-pedido></app-admin-dashboard-pedido>
        </div>
      </div>
    </div>
  </div>
</div>
