<nav class="navbar fixed-bottom justify-content-center">
  <div class="row justify-content-center text-white p-2">
    <a href="https://www.instagram.com/azfitnessfood/?hl=pt-br" target="_blank" rel="noreferrer noopener"> <i
        class="fa fa-instagram fa-fw text-white"></i></a>
    <a href="https://www.facebook.com/Azfitnessfood" target="_blank" rel="noreferrer noopener"> <i
        class="fa fa-facebook fa-fw text-white"></i></a>
    <a href="https://wa.me/5567992316858" target="_blank" rel="noreferrer noopener"> <i
          class="fa fa-whatsapp fa-fw text-white fa-fw"></i></a>
    <b class="ml-1">@AZFITNESSFOOD</b>
  </div>
</nav>
